<% if flash[:notice] %>
  <div id="main-adviser" class="alert alert-success %>"><%= flash[:notice] %></div>
<% end %>
<div class="d-flex p-2 justify-content-center">
  <h1><%= @event.name %></h1>
</div>
    <div class="d-flex justify-content-center">
      <ul class="list-group list-unstyled">
        <li class="list-group-item">Data do Evento
          <span class="badge badge-info">
            <%= l @event.will_happen, format: :short%>
          </span>
        </li>
        <li class="list-group-item">Lista aberta até
          <span class="badge badge-danger">
            <%= l @event.close_to_registration, format: :short%>
          </span>
        </li>
      </ul>
    </div>

<%= form_with(model: @guest, local: true) do |form| %>
  <% if @guest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

      <ul>
        <% @guest.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nome %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :celular %>
    <%= form.text_field :cellphone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :data_de_nascimento %>
    <%= form.date_field :birthday, class: "form-control" %>
  </div>

  <%#= form.label :location %>
  <%= form.hidden_field :location %>

  <div class="form-group">
    <%= form.label :promoter %>
    <%= form.select("partner_id",@event.inviter.partners.collect {|p| [ p.name, p.id ] }, {prompt: 'Selecionar Promoter'},class: "form-control") %>
  </div>
  <%#= form.label :event %>
  <%= form.hidden_field :event_id, value:@event.id %>
  <div class="form-group">
    <%= recaptcha_tags hl: I18n.locale%>
  </div>

  <div class="btn btn-primary actions">
    <%= form.submit "Incluir na lista" %>
  </div>
<% end %>
