<%= form_with(model: locale, local: true) do |form| %>
  <% if locale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(locale.errors.count, "error") %> prohibited this locale from being saved:</h2>

      <ul>
      <% locale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code %>
  </div>
  <%= hidden_field :inviter_id, current_inviter.id.to_s %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
