<%= form_with(model: locale) do |form| %>
  <% if locale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(locale.errors.count, "error") %> prohibited this locale from being saved:</h2>

      <ul>
      <% locale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label t :locale %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label (t :address) %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label (t :city) %>
    <%= form.text_field :city, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label (t :zip_code) %>
    <%= form.text_field :zip_code, class: 'form-control' %>
  </div>
  <%= form.hidden_field :inviter_id, value: current_inviter.id.to_s %>

  <%= form.submit (t :save), class: "btn btn-primary actions" %>
<% end %>
