<p id="notice"><%= notice %></p>

<p>
  <strong><%=(t :locale) %></strong>
  <%= @locale.name %>
</p>

<p>
  <strong><%=(t :address) %></strong>
  <%= @locale.address %>
</p>

<p>
  <strong><%=(t :city) %></strong>
  <%= @locale.city %>
</p>

<p>
  <strong><%=(t :zip_code) %></strong>
  <%= @locale.zip_code %>
</p>

<%= link_to (t :view), edit_locale_path(@locale) %> |
<%= link_to (t :back), locales_path %>
