<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name, "Nome" %>
    <%= form.text_field :name, id: :user_name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :phone, "Telefone" %>
    <%= form.text_field :phone, id: :user_phone, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :password, "Senha" %>
    <%= form.password_field :password, id: :password, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation, "Repita a senha"  %>
    <%= form.password_field :password_confirmation, id: :password_confirmation, class: "form-control" %>
  </div>

  <div class="form-group">
      <br />
      <%= recaptcha_tags %>
      <br />
  </div>

  <div class="actions">
    <%= form.submit "Registrar-se", class: "btn btn-primary btn-xl" %>
  </div>
<% end %>
