<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :seo_url %>
      <%= form.text_field :seo_url, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :short_url %>
      <%= form.text_field :short_url, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :data_do_evento     %>
      <%= form.datetime_select :will_happen, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :address %>
      <%= form.text_field :address, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :abertura_da_lista %>
      <%= form.datetime_select :open_to_registration, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :fechamento_da_lista %>
      <%= form.datetime_select :close_to_registration, class: "form-control" %>
    </div>
  <vaadin-date-picker label="Label" placeholder="Placeholder">
  </vaadin-date-picker>
    <% #TODO ADD CONTACT MASK%>
    <div class="form-group">
      <%= form.label :contacts %>
      <%= form.text_field :contacts, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :local %>
      <%= select("locale","locale_id",current_inviter.locales.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Select locale'},class: "form-control") %>
    </div>

    <div class="btn btn-primary actions">
      <%= form.submit%>
    </div>
<% end %>
