<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="d-flex">
    <%#TODO change to a helpers methods %>
    <%= image_tag event.flyer.variant(resize: "325X450"), class: "img-fluid" unless !event.flyer.attached?%>
  </div>
  <div data-controller="party">

    <div class="form-group">
      <%= form.label :evento %>
      <%= form.text_field :name, class: "form-control", data: { target: "party.name", action: "keyup->party#seoLink keyup->party#seoUrl"} %>
    </div>

    <div class="form-inline">
        <%= form.label :link_url, class: "mr-sm-2" %>

        <%= form.text_field :link_url, class: "form-control w-75 mb-6 mr-sm-2 mb-sm-0", :readonly => true, data: { target: "party.link"}, value: "#{request.host}/add_guest/#{@event.seo_url}" %>
        <button type="button" data-action="party#copy" class="btn btn-outline-dark"><%= t :copy %></button>
    </div>
      <%= form.hidden_field :seo_url, class: "form-control w-25", :readonly => true, data: { target: "party.seo"} %>
  </div>
    </div>
    <div class="form-group">
      <%= form.label :flyer_do_evento %>
      <%= form.file_field :flyer, multiple: false, class: "form-control-file"%>
    </div>

    <div class="form-group ">
      <%= form.label :data_do_evento     %>
      <%= form.datetime_select :will_happen, class: "form-control"  %>
    <div class="form-group">
      <%= form.label :local %>
      <%= form.text_field :address, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :abertura_da_lista %>
      <%= form.datetime_select :open_to_registration, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :fechamento_da_lista %>
      <%= form.datetime_select :close_to_registration, class: "form-control" %>
    </div>
    <% #TODO ADD CONTACT MASK%>
    <div class="form-group">
      <%= form.label :contacts %>
      <%= form.text_field :contacts, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :local %>
      <%= select("locale","locale_id",current_inviter.locales.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Select locale'},class: "form-control") %>
    </div>

    <div class="actions">
      <%= form.submit t :edit_event, class: "btn btn-primary" %>
    </div>
<% end %>