<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :seo_url %>
    <%= form.text_field :seo_url %>
  </div>

  <div class="field">
    <%= form.label :short_url %>
    <%= form.text_field :short_url %>
  </div>

  <div class="field">
    <%= form.label :will_happen %>
    <%= form.datetime_select :will_happen %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :open_to_registration %>
    <%= form.datetime_select :open_to_registration %>
  </div>

  <div class="field">
    <%= form.label :close_to_registration %>
    <%= form.datetime_select :close_to_registration %>
  </div>

  <div class="field">
    <%= form.label :contacts %>
    <%= form.text_field :contacts %>
  </div>

  <div class="field">
    <%= form.label :inviter_id %>
    <%= form.text_field :inviter_id %>
  </div>
  <div class="field">
    <%= form.label :locale %>
    <%= select("locale","locale_id",current_inviter.locales.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Select locale'}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
