<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="d-flex">
    <%#TODO change to a helpers methods %>
    <%= image_tag event.flyer.variant(resize: "325X450"), class: "img-fluid" unless !event.flyer.attached?%>
  </div>
  <div data-controller="party">
    <div class="container-fluid">

      <div class="form-group">
        <%= form.label :evento %>
        <%= form.text_field :name, class: "form-control", data: { target: "party.name", action: "keyup->party#seoLink keyup->party#seoUrl"} %>
      </div>

      <div class="form-inline d-inline-flex justify-content-between w-100">
          <%#= form.label :link_url, class: "mr-1" %>

          <%= form.text_field :link_url, class: "form-control w-75", :readonly => true, data: { target: "party.link"}, value: "#{request.host}/add_guest/#{@event.seo_url}" %>
          <button type="button" data-action="party#copy" class="btn btn-outline-dark btn-sm ml-1 mw-25"><%= t :copy_link %></button>
      </div>
      <%= form.hidden_field :seo_url, class: "form-control", :readonly => true, data: { target: "party.seo"} %>

      <div class="form-group mt-2">
        <%= form.label :flyer_do_evento %>
        <%= form.file_field :flyer, multiple: false, class: "form-control-file"%>
      </div>

      <div class="form-group ">
        <%= form.label :data_do_evento     %>
        <%= form.datetime_select :will_happen, class: "form-control"  %>
      </div>
      <div class="form-group">
        <%= form.label :local %>
        <%= form.text_field :address, class: "form-control" %>
      </div>

      <div class="form-group d-flex justify-content-between w-50">
        <%= form.label :abertura_da_lista %>
        <%= form.datetime_select :open_to_registration, class: "form-control" %>
      </div>

      <div class="form-group d-flex justify-content-between w-50">
        <%= form.label :fechamento_da_lista %>
        <%= form.datetime_select :close_to_registration, class: "form-control" %>
      </div>
      <% #TODO ADD CONTACT MASK%>
      <div class="form-group">
        <%= form.label :Contato %>
        <%= form.text_field :contacts, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :local %>
        <%= select("locale","locale_id",current_inviter.locales.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Selecione Local'},class: "form-control") %>
      </div>
      <%#byebug %>
        <%#event.preferences.each do |ticket| %>
        <%#= form.fields_for :tickets, OpenStruct.new(ticket) do |df| %>
            <%# ticket["ingressos"].each do |key,value| %>
                <%#= form.label :ingressos %>
<!--                <input type="text" value="<%#=key%>" class="form-control-sm">-->
                <%#= df.text_field key, class: "form-control-sm" %>
            <%# end %>
        <%# end %>
        <%# end %>
      <div class="form-group mt-2">
        <button type="button" data-action="party#addTicket" class="btn btn-primary btn-sm mb-2">
          <%= t :add_more_ticket %>
          <!--i class="m-2 fa fa-plus-circle"></i-->
        </button> <span>Opções de ingresso</span>
        <% event.try(:preferences)['tickets'].try(:each) do |k,v| %>
          <div class="row tickets">
            <div class="col ticket-name">

              <%= text_field_tag "fake[preferences][tickets][#{k}]",
                                 k,
                                 data: { action: "party#ticketKey" },
                                 class: "form-control mt-1" %>
            </div>
            <div class="col ticket-value">

              <%= text_field_tag "event[preferences][tickets][#{k}]",
                                 v,
                                 class: "form-control mt-1" %>
            </div>
            <i class="fa fa-times" data-action="click->party#removeTicket"></i>
          </div>
        <% end %>
      </div>
       <div class="form-group">
         <%= form.submit t :edit_event, html: { class: "btn btn-primary actions" } %>
       </div>
    </div>
  </div>
<% end %>