<div class="container-fluid">
  <p id="notice"><%= notice %></p>
    <h1>Events</h1>
    <br>
    <table class="table-responsive table-borderless">
      <thead>
      <tr>
        <th>Evento</th>
        <th>Seo url</th>
        <th>Short url</th>
        <th>Will happen</th>
        <th>Open to registration</th>
        <th>Close to registration</th>
        <th colspan="2"></th>
      </tr>
      </thead>
      <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.seo_url %></td>
          <td><%= event.short_url %></td>
          <td><%= event.will_happen %></td>
          <td><%= event.open_to_registration %></td>
          <td><%= event.close_to_registration %></td>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>
</div>
<%= link_to 'New Event', new_event_path %>
