<div class="container-fluid">
  <p id="notice"><%= notice %></p>
    <h1><%=t :events %></h1>
    <br>
  <div class="table-responsive d-flex">
    <table class="table table-sm">
      <thead>
      <tr>
        <th>Evento</th>
        <th>Link Lista</th>
        <th>Data</th>
        <th>Abertura da Lista</th>
        <th>Fechamento da Lista</th>
        <th colspan="2"></th>
      </tr>
      </thead>
      <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><a href="/add_guest/<%= event.seo_url %>" target="_blank"><%= event.seo_url %></a></td>
          <td><%= event.will_happen %></td>
          <td><%= event.open_to_registration %></td>
          <td><%= event.close_to_registration %></td>
          <td><%= link_to (t :edit), edit_event_path(event) %></td>
          <td><%= link_to (t :destroy), event, method: :delete, data: { confirm: (t :confirm_destroy) } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
    <br>
</div>
<%= link_to (t :new_event), new_event_path %>
