<div class="row">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>
    <%= @event.name %>
    </strong>
    <input name="authenticity_token"
           type="hidden"
           value="<%= form_authenticity_token %>"/>
  </p>
  <div data-controller="checkin" data-checkin-update-url="/guests/check_in/" data-checkin-ticket-url="/guests/ticket/" >
<!--  <div class="d-flex">-->
<!--      <div class="table-responsive">-->
        <table id="list_table" class="table table-striped table-bordered table-sm" data-target="checkin.eventId" data-value="<%=@event.id %>">
          <thead>
          <th scope="col">#</th>
          <th scope="col" colspan="2">Nome</th>
          <th scope="col">Ingresso</th>
          <th scope="col">Promoter</th>
          </thead>
          <tbody>
          <% @event.guests.each do |guest| %>
            <tr>
              <td><%= "#{@event.id}#{guest.id}" %></td>
              <td data-target="checkin.name">
                <%= "#{guest.name} #{guest.surname}" %>
              </td>
              <td>
                <% unless guest.attended %>
                <button type="button"
                        class="btn btn-success btn-sm mr-1"
                        data-target="checkin.guestAttended"
                        data-value="<%=guest.id%>"
                        data-name="<%=guest.name%>"
                        data-action="checkin#setCheckin">
                  Check-in
                </button>
                <% else %>
                <span class="badge badge-info">Check-in: <%= l guest.updated_at, format: :short%></span>
                <% end %>
              </td>
              <td>
              <% unless !guest.ticket.nil? && !guest.ticket.empty? %>
              <%= select("ticket","ticket_id",@event.try(:tickets)  {|k,v| [ k, v ] }, {prompt: 'Selecione'},class: "form-control ticket-type") %>
              <button type="button"
                      class="btn btn-warning btn-sm btn-block mt-1"
                      data-target="checkin.guestTicket"
                      data-value="<%=guest.id%>"
                      data-name="<%=guest.name%>"
                      data-action="checkin#setTicket">
                Salvar
              </button>
              <% else %>
                  <span class="badge badge-dark"><%= guest.ticket %></span>
              <% end %>
              </td>
              <td>
                <%= partner_name(@event, guest) unless guest.partner_id.nil? %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
<!--      </div>-->
<!--  </div>-->
  </div>
</div>


<%= link_to (t :edit), edit_event_path(@event) %> |
<%= link_to (t :back), events_path %>
