<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @event.name %>
    <input name="authenticity_token"
           type="hidden"
           value="<%= form_authenticity_token %>"/>
  </p>
  <div data-controller="checkin" data-checkin-update-url="/guests/check_in/">
<!--  <div class="d-flex">-->
<!--      <div class="table-responsive">-->
        <table class="table table-sm" id="list_table" data-target="checkin.eventId" data-value="<%=@event.id %>">
          <thead>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Promoter</th>
          </thead>
          <tbody>
          <% @event.guests.each do |guest| %>
            <tr>
              <td><%= "#{@event.id}#{guest.id}" %></td>
              <td data-target="checkin.name"><%= "#{guest.name} #{guest.surname}" %>
                <% unless guest.attended %>
                <button type="button"
                        class="btn btn-success btn-sm"
                        data-target="checkin.guestAttended"
                        data-value="<%=guest.id%>"
                        data-name="<%=guest.name%>"
                        data-action="checkin#setCheckin">
                  Check-in
                </button>
                <% else %>
                  <span class="badge badge-info">Check-in: <%= l guest.updated_at, format: :short%></span>
                <% end %>
              </td>
              <td>
                <%= partner_name(@event, guest) unless guest.partner_id.nil? %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
<!--      </div>-->
<!--  </div>-->
  </div>
</div>


<%= link_to (t :edit), edit_event_path(@event) %> |
<%= link_to (t :back), events_path %>
