<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @event.name %>
  </p>

  <p>
    <strong>Seo url:</strong>
    <%= @event.seo_url %>
  </p>

  <p>
    <strong>Short url:</strong>
    <%= @event.short_url %>
  </p>



<!--  <div class="d-flex">-->
<!--      <div class="table-responsive">-->
        <table class="table table-sm" id="list_table">
          <thead>
          <th scope="col">Nome</th>
          </thead>
          <tbody>
          <% @event.guests.each do |guest| %>
            <tr>
              <td><%= guest.name %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
<!--      </div>-->
<!--  </div>-->
</div>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
