<!DOCTYPE html>
<html>
  <head>
    <title>Trilist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">TriList</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="">Sobre</a>
            </li>
            <% if inviter_signed_in? %>
              <li class="nav-item mx-0 mx-lg-1">
                <%=link_to('Promoters', partners_path, class: "nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger") %>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <%=link_to('Meus Locais', locales_path, class: "nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger") %>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <%= link_to('Desconectar', destroy_inviter_session_path, method: :delete, class: 'nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger' ) %>
              </li>
            <% else %>
              <li class="nav-item mx-0 mx-lg-1">
                <%= link_to('Logar', new_inviter_session_path, class: 'nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger')  %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="masthead container-fluid">
      <%= yield %>
    </div>
    <% unless inviter_signed_in? %>
    <!-- Footer -->
    <%#TODO https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/ %>
    <% end %>
      <footer class="copyright py-2 text-center text-white">
        <div class="container">
          <small>Copyright &copy; Trilist <%=Time.zone.now.strftime("%Y") %></small>
        </div>
      </footer>
  </body>
</html>
